.img-container {
	position: relative;
}

.main {
	padding: 10px;
	margin-top: 10px;
	color: white;
}

#main-cell {
	display: none;
}

#focus-image {
	margin-top: 12px;
}

.focus-year {
	font-size: 30px;
	color: #c0c0c0;
	font-weight: 500;
}

#total-reviews{
	color: #c0c0c0;
}

.data {
	border: 3px solid grey;
	background: #777b7e;
	padding: 10px;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sum {
	padding: 10px;
	font-family: 'Kanit', sans-serif;
}
.wrapper {
	margin-right: 15em;
	margin-left: 15em;
	margin-top: 2em;
	margin-bottom: 1em;
}
h3, h2, h1, p {
	font-family: 'Kanit', sans-serif;
}
.shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	overflow: auto;
}
.h3 {
	font-family: 'Kanit', sans-serif;
}
.caption-container {
	position: absolute;
	bottom: 50%;
	left: 0;
	color: #FFF;
	width: 100%;
	text-align: center;
}
.shad {
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caption-content {
	padding: emCalc(10px);
	margin: 0;
}
body {
	background: #57595d;
	font-family: 'Kanit', sans-serif;
}
h1 {
	font-family: 'Kanit', sans-serif;
}
.top {
	color: white;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	margin-top: 10px;
}
a {
	color: white;
}
a:hover {
	color: lightgrey;
}
.top-bar, .dropdown {
	background: black !important;
	color: white;
}
.one {
	padding: 10px;
}
footer {
	filter: grayscale(100%);
	padding: 20px;
	text-align: center;
	background: #444;
	border-top: 2px solid grey;
	margin-top: 20px;
	box-shadow: inset 0 15px 5px -16px #111;
}
.text {
	color: white;
	position: relative
}
.hero-section {
	background: url("../movies.jpg") 50% no-repeat;
	background-size: cover;
	font-family: 'Kanit', sans-serif;
	height: 25em;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-section .hero-section-text {
	color: #fefefe;
	text-shadow: 1px 1px 2px #0a0a0a;
}
.input-group-rounded .input-group-field {
	border-radius: 5000px 0 0 5000px;
	padding-left: 1rem;
}
.input-group-rounded .input-group-button .button {
	border-radius: 0 5000px 5000px 0;
	font-size: 0.8rem;
}
/* Small only */

@media screen and (max-width: 39.9375em) {
	.hero-section {
		background: url("../movies.jpg") 50% no-repeat;
		background-size: cover;
		height: 15em;
		text-align: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.wrapper {
		margin: 0;
	}
	.title {
		text-align: center;
		margin-top: 20px;
	}
}
/* Medium and up */

@media screen and (min-width: 40em) {}
/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.wrapper {
		margin: 0;
	}
}
/* Large and up */

@media screen and (min-width: 64em) {}
/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	.wrapper {
		margin: 0;
	}
}

#focus {
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.8s;
}
.trending-images:hover{
	opacity: .7;
	cursor: pointer;
}


.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #555;
}


.content {
	padding: 10px;
	display: none;
	overflow: hidden;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	bottom: 100%;
	max-height: 200px;
	overflow-y: scroll;

}

.frosted {
	filter: blur( 2px );
}

#focus-hide {
	width: 100%;
	text-align: center;
}
.focus-show {
	overflow-y:visible!important; 
	max-height: 7000px!important; 
	transition: max-height 0.8s;
}