.img-container {
	position: relative;
}

.main {
	padding: 10px;
	margin-top: 10px;
	color: white;
}
.data {
	border: 3px solid lightgrey;
	padding: 10px;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sum {
	padding: 10px;
	font-family: 'Kanit', sans-serif;
}
.wrapper {
	margin-right: 20em;
	margin-left: 20em;
	margin-top: 2em;
	margin-bottom: 2em;
}
h3, h2, h1, p {
	font-family: 'Kanit', sans-serif;
}
.shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}
.h3 {
	font-family: 'Kanit', sans-serif;
}
.caption-container {
	position: absolute;
	bottom: 50%;
	left: 0;
	color: #FFF;
	width: 100%;
	text-align: center;
}
.shad {
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caption-content {
	padding: emCalc(10px);
	margin: 0;
}
body {
	background: #57595d;
	font-family: 'Kanit', sans-serif;
}
h1 {
	font-family: 'Kanit', sans-serif;
}
.top {
	color: white;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	margin-top: 10px;
}
a {
	color: white;
}
a:hover {
	color: lightgrey;
}
.top-bar, .dropdown {
	background: black !important;
	color: white;
}
.one {
	padding: 10px;
}
footer {
	padding: 20px;
	text-align: center;
	background: #444;
	border-top: 2px solid grey;
	margin-top: 20px;
	box-shadow: inset 0 15px 5px -16px #111;
}
.text {
	color: white;
	padding: 5px;
}
.hero-section {
	background: url("../movies.jpg") 50% no-repeat;
	background-size: cover;
	font-family: 'Kanit', sans-serif;
	height: 25em;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-section .hero-section-text {
	color: #fefefe;
	text-shadow: 1px 1px 2px #0a0a0a;
}
.input-group-rounded .input-group-field {
	border-radius: 5000px 0 0 5000px;
	padding-left: 1rem;
}
.input-group-rounded .input-group-button .button {
	border-radius: 0 5000px 5000px 0;
	font-size: 0.8rem;
}
/* Small only */

@media screen and (max-width: 39.9375em) {
	.hero-section {
		background: url("../movies.jpg") 50% no-repeat;
		background-size: cover;
		height: 15em;
		text-align: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.wrapper {
		margin: 0;
	}
	.title {
		text-align: center;
	}
}
/* Medium and up */

@media screen and (min-width: 40em) {}
/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.wrapper {
		margin: 0;
	}
}
/* Large and up */

@media screen and (min-width: 64em) {}
/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	.wrapper {
		margin: 0;
	}
}

#focus {
	max-height: 0;
	overflow-y: hidden;
}