{
    "swagger": "2.0",
    "info": {
        "title": "Text Analytics API (v2.0)",
        "version": "v2.0",
        "description": "The Text Analytics API is a suite of text analytics web services built with best-in-class Microsoft machine learning algorithms. \nThe API can be used to analyze unstructured text for tasks such as sentiment analysis, key phrase extraction and language detection. \nNo training data is needed to use this API; just bring your text data. \nThis API uses advanced natural language processing techniques to deliver best in class predictions.\n\nFurther documentation can be found in https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview\n\nThis API is currently available in:\n\n* West US - westus.api.cognitive.microsoft.com\n* West US 2 - westus2.api.cognitive.microsoft.com\n* East US - eastus.api.cognitive.microsoft.com\n* East US 2 - eastus2.api.cognitive.microsoft.com\n* West Central US - westcentralus.api.cognitive.microsoft.com\n* South Central US - southcentralus.api.cognitive.microsoft.com\n* West Europe - westeurope.api.cognitive.microsoft.com\n* North Europe - northeurope.api.cognitive.microsoft.com\n* Southeast Asia - southeastasia.api.cognitive.microsoft.com\n* East Asia - eastasia.api.cognitive.microsoft.com\n* Australia East - australiaeast.api.cognitive.microsoft.com\n* Brazil South - brazilsouth.api.cognitive.microsoft.com\n* Canada Central - canadacentral.api.cognitive.microsoft.com\n* Central India - centralindia.api.cognitive.microsoft.com\n* UK South - uksouth.api.cognitive.microsoft.com\n* Japan East - japaneast.api.cognitive.microsoft.com\n* Central US - centralus.api.cognitive.microsoft.com\n* France Central - francecentral.api.cognitive.microsoft.com\n* Korea Central - koreacentral.api.cognitive.microsoft.com\n* Japan West - japanwest.api.cognitive.microsoft.com\n* North Central US - northcentralus.api.cognitive.microsoft.com"
    },
    "host": "cognitive-wu.cognitiveservices.azure.com",
    "basePath": "/text/analytics/v2.0",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "x-servers": [
        {
            "url": "https://cognitive-wu.cognitiveservices.azure.com"
        },
        {
            "url": "https://cognitive-wu-westus-01.regional.azure-api.net"
        },
        {
            "url": "https://westus.api.cognitive.microsoft.com"
        }
    ],
    "paths": {
        "/keyPhrases": {
            "post": {
                "description": "The API returns a list of strings denoting the key talking points in the input text. See the <a href=\"https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/text-analytics-supported-languages\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "56f30ceeeda5650db055a3c6",
                "summary": "Key Phrases",
                "parameters": [
                    {
                        "name": "multiLanguageBatchInputV2",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/MultiLanguageBatchInputV2"
                        },
                        "description": "Collection of documents to analyze. Documents can now contain a language field to indicate the text language"
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "A successful response results in 0 or more key phrases identified in each valid document",
                        "schema": {
                            "$ref": "#/definitions/KeyPhraseBatchResultV2"
                        },
                        "examples": {
                            "application/json": {
                                "documents": [
                                    {
                                        "id": "1",
                                        "keyPhrases": [
                                            "world",
                                            "input text"
                                        ]
                                    },
                                    {
                                        "id": "2",
                                        "keyPhrases": [
                                            "monde"
                                        ]
                                    },
                                    {
                                        "id": "3",
                                        "keyPhrases": [
                                            "carretera",
                                            "tráfico",
                                            "día"
                                        ]
                                    }
                                ],
                                "errors": []
                            }
                        }
                    },
                    "500": {
                        "description": "Error Response",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "produces": [
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/languages": {
            "post": {
                "description": "The API returns the detected language and a numeric score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true. A total of 120 languages are supported.",
                "operationId": "56f30ceeeda5650db055a3c7",
                "summary": "Detect Language",
                "parameters": [
                    {
                        "name": "batchInputV2",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BatchInputV2"
                        },
                        "description": "Collection of documents to analyze."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "A successful call results in the detected language with the highest probability for each valid document",
                        "schema": {
                            "$ref": "#/definitions/LanguageBatchResultV2"
                        },
                        "examples": {
                            "application/json": {
                                "documents": [
                                    {
                                        "id": "1",
                                        "detectedLanguages": [
                                            {
                                                "name": "English",
                                                "iso6391Name": "en",
                                                "score": 1
                                            }
                                        ]
                                    },
                                    {
                                        "id": "2",
                                        "detectedLanguages": [
                                            {
                                                "name": "French",
                                                "iso6391Name": "fr",
                                                "score": 1
                                            }
                                        ]
                                    },
                                    {
                                        "id": "3",
                                        "detectedLanguages": [
                                            {
                                                "name": "Spanish",
                                                "iso6391Name": "es",
                                                "score": 1
                                            }
                                        ]
                                    },
                                    {
                                        "id": "4",
                                        "detectedLanguages": [
                                            {
                                                "name": "(Unknown)",
                                                "iso6391Name": "(Unknown)",
                                                "score": 0
                                            }
                                        ]
                                    }
                                ],
                                "errors": []
                            }
                        }
                    },
                    "500": {
                        "description": "Error Response",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "produces": [
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/sentiment": {
            "post": {
                "description": "The API returns a numeric score between 0 and 1. Scores close to 1 indicate positive sentiment, while scores close to 0 indicate negative sentiment. A score of 0.5 indicates the lack of sentiment (e.g. a factoid statement). See the <a href=\"https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/text-analytics-supported-languages\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "56f30ceeeda5650db055a3c9",
                "summary": "Sentiment",
                "parameters": [
                    {
                        "name": "multiLanguageBatchInputV2",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/MultiLanguageBatchInputV2"
                        },
                        "description": "Collection of documents to analyze."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "A successful call results in each valid document getting a sentiment score between 0 and 1",
                        "schema": {
                            "$ref": "#/definitions/SentimentBatchResultV2"
                        },
                        "examples": {
                            "application/json": {
                                "documents": [
                                    {
                                        "id": "1",
                                        "score": 0.92
                                    },
                                    {
                                        "id": "2",
                                        "score": 0.85
                                    },
                                    {
                                        "id": "3",
                                        "score": 0.34
                                    }
                                ],
                                "errors": []
                            }
                        }
                    },
                    "500": {
                        "description": "Error Response",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "produces": [
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/entities": {
            "post": {
                "description": "The API returns a list of recognized entities in a given document. To get even more information on each recognized entity we recommend using the Bing Entity Search API by querying for the recognized entities names. See the <a href=\"https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/text-analytics-supported-languages\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "5ac4251d5b4ccd1554da7634",
                "summary": "Entities",
                "parameters": [
                    {
                        "name": "multiLanguageBatchInputV2",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/MultiLanguageBatchInputV2"
                        },
                        "description": "Collection of documents to analyze."
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "A successful call results in a list of recognized entities returned for each valid document",
                        "schema": {
                            "$ref": "#/definitions/EntitiesBatchResultV2"
                        },
                        "examples": {
                            "application/json": {
                                "documents": [
                                    {
                                        "id": "1",
                                        "entities": [
                                            {
                                                "name": "Microsoft",
                                                "matches": [
                                                    {
                                                        "text": "Microsoft",
                                                        "offset": 0,
                                                        "length": 9
                                                    },
                                                    {
                                                        "text": "MSFT",
                                                        "offset": 28,
                                                        "length": 4
                                                    }
                                                ],
                                                "wikipediaLanguage": "en",
                                                "wikipediaId": "Microsoft",
                                                "wikipediaUrl": "https://en.wikipedia.org/wiki/Microsoft",
                                                "bingId": "a093e9b9-90f5-a3d5-c4b8-5855e1b01f85"
                                            },
                                            {
                                                "name": "Windows 10",
                                                "matches": [
                                                    {
                                                        "text": "Windows 10",
                                                        "offset": 42,
                                                        "length": 10
                                                    }
                                                ],
                                                "wikipediaLanguage": "en",
                                                "wikipediaId": "Windows 10",
                                                "wikipediaUrl": "https://en.wikipedia.org/wiki/Windows_10",
                                                "bingId": "5f9fbd03-49c4-39ef-cc95-de83ab897b94"
                                            }
                                        ]
                                    },
                                    {
                                        "id": "2",
                                        "entities": [
                                            {
                                                "name": "Bill Gates",
                                                "matches": [
                                                    {
                                                        "text": "Bill Gates",
                                                        "offset": 93,
                                                        "length": 10
                                                    }
                                                ],
                                                "wikipediaLanguage": "en",
                                                "wikipediaId": "Bill Gates",
                                                "wikipediaUrl": "https://en.wikipedia.org/wiki/Bill_Gates",
                                                "bingId": "0d47c987-0042-5576-15e8-97af601614fa"
                                            },
                                            {
                                                "name": "Paul Allen",
                                                "matches": [
                                                    {
                                                        "text": "Paul Allen",
                                                        "offset": 108,
                                                        "length": 10
                                                    }
                                                ],
                                                "wikipediaLanguage": "en",
                                                "wikipediaId": "Paul Allen",
                                                "wikipediaUrl": "https://en.wikipedia.org/wiki/Paul_Allen",
                                                "bingId": "df2c4376-9923-6a54-893f-2ee5a5badbc7"
                                            }
                                        ]
                                    }
                                ],
                                "errors": []
                            }
                        }
                    },
                    "500": {
                        "description": "Error Response",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "produces": [
                    "application/json",
                    "text/json"
                ]
            }
        }
    },
    "definitions": {
        "MultiLanguageBatchInputV2": {
            "type": "object",
            "properties": {
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/MultiLanguageInputV2"
                    },
                    "readOnly": true
                }
            },
            "example": "{\n  \"documents\": [\n    {\n      \"language\": \"en\",\n      \"id\": \"1\",\n      \"text\": \"Microsoft released Windows 10\"\n    },\n    {\n      \"language\": \"en\",\n      \"id\": \"2\",\n      \"text\": \"In 1975, Bill Gates III and Paul Allen founded the company.\"\n    }\n  ]\n}\n"
        },
        "MultiLanguageInputV2": {
            "type": "object",
            "properties": {
                "language": {
                    "description": "This is the 2 letter ISO 639-1 representation of a language.\r\n            For example, use \"en\" for English; \"es\" for Spanish etc.,",
                    "type": "string"
                },
                "id": {
                    "description": "Unique, non-empty document identifier.",
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            }
        },
        "Object": {
            "type": "object",
            "properties": {}
        },
        "EntitiesBatchResultV2": {
            "type": "object",
            "properties": {
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EntitiesBatchResultItemV2"
                    },
                    "readOnly": true
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorRecordV2"
                    },
                    "readOnly": true
                }
            }
        },
        "EntitiesBatchResultItemV2": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Unique document identifier.",
                    "type": "string",
                    "readOnly": true
                },
                "entities": {
                    "description": "Recognized entities in the document.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EntityRecordV2"
                    },
                    "readOnly": true
                }
            }
        },
        "ErrorRecordV2": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Input document unique identifier the error refers to.",
                    "type": "string"
                },
                "message": {
                    "description": "Error message.",
                    "type": "string"
                }
            }
        },
        "EntityRecordV2": {
            "type": "object",
            "properties": {
                "name": {
                    "description": "Entity formal name.",
                    "type": "string"
                },
                "matches": {
                    "description": "List of instances this entity appears in the text.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/MatchRecordV2"
                    },
                    "readOnly": true
                },
                "wikipediaLanguage": {
                    "description": "Wikipedia language for which the WikipediaId and WikipediaUrl refers to.",
                    "type": "string"
                },
                "wikipediaId": {
                    "description": "Wikipedia unique identifier of the recognized entity.",
                    "type": "string"
                },
                "wikipediaUrl": {
                    "description": "URL for the entity's English Wikipedia page.",
                    "type": "string",
                    "readOnly": true
                },
                "bingId": {
                    "description": "Bing unique identifier of the recognized entity.",
                    "type": "string"
                }
            }
        },
        "MatchRecordV2": {
            "type": "object",
            "properties": {
                "text": {
                    "description": "Entity text as appears in the request.",
                    "type": "string"
                },
                "offset": {
                    "format": "int32",
                    "description": "Start position (in Unicode characters) for the entity match text.",
                    "type": "integer"
                },
                "length": {
                    "format": "int32",
                    "description": "Length (in Unicode characters) for the entity match text.",
                    "type": "integer"
                }
            }
        },
        "ErrorResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "target": {
                    "type": "string"
                },
                "innerError": {
                    "$ref": "#/definitions/InternalError"
                }
            }
        },
        "InternalError": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "innerError": {
                    "$ref": "#/definitions/InternalError"
                }
            }
        },
        "KeyPhraseBatchResultV2": {
            "type": "object",
            "properties": {
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/KeyPhraseBatchResultItemV2"
                    },
                    "readOnly": true
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorRecordV2"
                    },
                    "readOnly": true
                }
            }
        },
        "KeyPhraseBatchResultItemV2": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Unique document identifier.",
                    "type": "string"
                },
                "keyPhrases": {
                    "description": "A list of representative words or phrases. The number of key phrases returned is proportional to the number of words in the input document.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "readOnly": true
                }
            }
        },
        "BatchInputV2": {
            "type": "object",
            "properties": {
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/InputV2"
                    },
                    "readOnly": true
                }
            },
            "example": "{\n  \"documents\": [\n    {\n      \"id\": \"1\",\n      \"text\": \"Hello world\"\n    },\n    {\n      \"id\": \"2\",\n      \"text\": \"Bonjour tout le monde\"\n    },\n    {\n      \"id\": \"3\",\n      \"text\": \"La carretera estaba atascada. Había mucho tráfico el día de ayer.\"\n    },\n    {\n      \"id\": \"4\",\n      \"text\": \":) :( :D\"\n    }\n  ]\n}"
        },
        "InputV2": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Unique, non-empty document identifier.",
                    "type": "string"
                },
                "text": {
                    "type": "string"
                }
            }
        },
        "LanguageBatchResultV2": {
            "type": "object",
            "properties": {
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/LanguageBatchResultItemV2"
                    },
                    "readOnly": true
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorRecordV2"
                    },
                    "readOnly": true
                }
            }
        },
        "LanguageBatchResultItemV2": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Unique document identifier.",
                    "type": "string"
                },
                "detectedLanguages": {
                    "description": "A list of extracted languages.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DetectedLanguageV2"
                    },
                    "readOnly": true
                }
            }
        },
        "DetectedLanguageV2": {
            "type": "object",
            "properties": {
                "name": {
                    "description": "Long name of a detected language (e.g. English, French).",
                    "type": "string"
                },
                "iso6391Name": {
                    "description": "A two letter representation of the detected language according to the ISO 639-1 standard (e.g. en, fr).",
                    "type": "string"
                },
                "score": {
                    "format": "double",
                    "description": "A confidence score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true.",
                    "type": "number"
                }
            }
        },
        "SentimentBatchResultV2": {
            "type": "object",
            "properties": {
                "documents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SentimentBatchResultItemV2"
                    },
                    "readOnly": true
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorRecordV2"
                    },
                    "readOnly": true
                }
            }
        },
        "SentimentBatchResultItemV2": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Unique document identifier.",
                    "type": "string"
                },
                "score": {
                    "format": "double",
                    "description": "A decimal number between 0 and 1 denoting the sentiment of the document. \r\n            A score above 0.7 usually refers to a positive document while a score below 0.3 normally has a negative connotation.\r\n            Mid values refer to neutral text.",
                    "type": "number"
                }
            }
        }
    },
    "tags": []
}